<h1>This is the gossip index</h1>
<section class="section">
  <div class="container">
    <div class="columns">


    <p>
    <strong>Body:</strong>
    <%= @post.body %>
    </p>


    </div>
  </div>
</section>