<h1> Secret Clubhouse </h1>

<%= form_with model: @post, class: "form-signin" do |f| %>
    <div class="field">
      <div class="control">
      <%= f.text_area(:post, placeholder: "Spill the tea...") %>
      </div>
    </div>
    <%= f.submit "Post about it" %>
<% end %>